include CODE_OF_CONDUCT.md
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include MANIFEST.in
include README.rst
include requirements-ci.txt
include requirements-dev.txt
include pyproject.toml
include Makefile
include .readthedocs.yaml
include docs/Makefile

recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs_tmpl *.rst
recursive-include examples *.py *.sh
recursive-include tests *.py
