[tool.ruff]
# Enable pycodestyle (E), pyflakes (F), and bugbear (B) rules
select = ["E", "F", "B"]

# Ignore line length violations--Black handles those
line-length = 88
ignore = ["E501"]

target-version = "py38"

src = ["src", "tests"]

[tool.ruff.flake8-quotes]
docstring-quotes = "double"


[tool.black]
line-length = 88
target-version = ["py38"]


[tool.mypy]
python_version = "3.8"
disallow_untyped_defs = true


[tool.pytest.ini_options]
filterwarnings = [
    "error",
]


[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py{38,39,310}-django{none,32,40,41},
    py311-django{none,41},
    py38-lint,
    py38-typecheck,
    py38-examples

[gh-actions]
python =
    3.8: py38
    3.9: py39
    3.10: py310
    3.11: py311

[testenv]
deps =
    django32: Django>=3.2,<4.0
    django40: Django>=4.0,<4.1
    django41: Django>=4.1,<4.2
    -rrequirements-dev.txt
commands =
    pytest tests/ {posargs}

[testenv:py38-lint]
basepython = python3.8
changedir = {toxinidir}
commands =
    black --check src setup.py tests docs examples
    ruff src setup.py tests docs examples

[testenv:py38-examples]
basepython = python3.8
changedir = {toxinidir}/examples/
commands = ./run_examples.sh

[testenv:py38-typecheck]
basepython = python3.8
changedir = {toxinidir}
commands = mypy src/fillmore/
"""
